[Unit]
Description=Myzram swap service
Requires=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/Myzram-swap.sh init
ExecStop=/usr/local/sbin/Myzram-swap.sh end
RemainAfterExit=True

[Install]
WantedBy=sysinit.target
#RequiredBy=
